body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#icon-id,
#home-link {
  float: left;
  margin-left: 5%;
  margin-top: 20px;
  text-decoration: none;
  width: 140px;
  display: flex;
  justify-content: space-between;
}
img {
  transform: scale();
  transition: 1.5s;
}
#siteName {
  display: inline-block;
  margin: auto 0px;
  font-size: 1.5rem;
}

.container {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
/* //////////////////////////////////contact///////////////////////////menu ivon css  */
.bar1 {
  width: 25px;
  height: 4px;
  background-color: blue;
  margin-top: 17px;
  margin-left: 15px;
  transition: 0.4s;
}
.bar3 {
  width: 25px;
  height: 4px;
  background-color: blue;
  margin-left: 10px;
  margin-top: 4px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}

/* Fade out the second bar */

/*position and ------------------------------------------ menu container properties*/
.container {
  /* background-color: white; */
  background-size: 200% 100%;
  background-image: linear-gradient(to left, white 50%, rgb(0, 0, 0, 0.1) 50%);
  background-position: 100% -200%;
  transition: background-position 0.3s;
  /* .container:hover {
  background-position: 0 -100%;
} */
  position: fixed;
  left: 90%;
  margin-top: 30px;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 28px 27px 48px 23px rgba(68, 27, 163, 0.2);
  -moz-box-shadow: 28px 27px 48px 23px rgba(68, 27, 163, 0.2);
  box-shadow: 28px 27px 48px 23px rgba(68, 27, 163, 0.2);
}
.container:hover {
  background-position: 0 -100%;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(2px, -5px);
  transform: rotate(45deg) translate(2px, -5px);
}

/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0px;
  right: 0;
  text-align: center;
  background-color: rgb(27, 7, 7); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll opoacity */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
/* The sidepanel links hide */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  margin: 30px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
#chatlink {
  width: 200px;
  height: 50px;
  display: flex;

  justify-content: space-between;
  background-color: rgb(92, 43, 43);
  margin: auto;
  font-size: 1.5rem;
}
#letsgo {
  background-size: 200% 100%;
  background-image: linear-gradient(to left, white 50%, rgb(0, 0, 0, 0.1) 50%);
  background-position: 100% -200%;
  transition: background-position 0.3s;
  /* .container:hover {
  background-position: 0 -100%;
} */
  width: 70%;
  height: 100%;
  margin: 0px;
  display: inline-block;
  background-color: white;
}
#letsgo:hover {
  background-position: 0 -100%;
}
#letsgo span {
  display: inline-block;
  margin-top: 17px;
  color: rgb(32, 7, 7);
  font-weight: bolder;
  font-size: 00.8rem;
}
#go {
  margin: 0px;
  width: 29%;
  display: inline-block;
  height: 100%;
  background-color: white;
}
#fleche {
  display: inline-block;
  font-weight: bolder;
  font-size: xx-large;
}

/* ::::::::::::::::::::::::showreel part::::::::::::::::: */
#showvid {
  position: absolute;
  width: 300px;
  height: 100px;
  background-size: 200% 100%;
  background-image: linear-gradient(to left, white 50%, rgb(0, 0, 0, 0.1) 50%);
  background-position: 100% -200%;
  transition: background-position 0.3s;
  /* .container:hover {
  background-position: 0 -100%;
} */
  left: 150px;
  top: 550px;
  text-decoration: none;
  -webkit-box-shadow: 57px 27px 48px 23px rgba(68, 27, 163, 0.2);
  -moz-box-shadow: 57px 27px 48px 23px rgba(68, 27, 163, 0.2);
  box-shadow: 57px 27px 48px 23px rgba(68, 27, 163, 0.2);
}
#showvid:hover {
  background-position: 0 -100%;
}
#vidframe {
  display: flex;
}
#showvid video {
  width: 100px;
  height: 100px;
  display: inline-block;
}
#showvid span {
  color: black;
  font-weight: bolder;
  font-size: 0.9rem;
  margin-left: 33px;
  margin-top: 40px;
  display: inline-block;
}
#vmask {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 3000px;
  width: 0vw;
  opacity: 0.3;
  background-color: rgb(59, 133, 59);
}
#vmask img {
  margin-left: 1200px;
  margin-top: 40px;
  width: 3%;
}

#showreelfullvid {
  width: 900px;
  height: 600px;
  position: fixed;
  top: 60px;
  left: 50%;
  z-index: 100000;
  margin-left: -450px;
}

#contentgest {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#vidbloc {
  width: 100%;
  height: 500px;
}
#showreelfullvid video {
  width: 100%;
  height: 500px;
}

#contactv {
  width: 150px;
  background-color: rgb(10, 10, 153);
  height: 50px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  justify-items: center;
}
#contactv span {
  margin-top: 15px;
  color: white;
  font-weight: bolder;
}

/* ////////////////////////////////////hide////////////////////////contact us  */
.contact-us {
  background-color: blue;
  position: absolute;
  right: 12%;
  top: 40px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  font-size: 0.8rem;
}
.contact-us a {
  display: block;
  color: white;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 15px;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  display: inline-block;

  margin-top: 30px;
}
#banner {
  position: absolute;
  left: 40%;
  width: 60%;
  top: 100px;
}
#banner img {
  width: 100%;
}
#hide {
  position: absolute;
  width: 0%;
  height: 50000px;
  z-index: 1000;
  background-color: rgb(224, 208, 208);
  opacity: 0.2;
}

#oursevices {
  text-align: left;
  font-size: 4rem;
  position: absolute;
  left: 10%;
  width: 45%;
  top: 240px;
  font-weight: bolder;
}

#assets {
  font-weight: bold;
  position: absolute;
  width: (500px);
  height: 25px;
  overflow: hidden;
  left: 10%;
  top: 150px;
  color: black;
  z-index: 0;
}
@keyframes myFrame {
  0% {
    transform: translateY(0px);
    transition-duration: 0s;
  }
  14.28% {
    transform: translateY(-50px);
    transition-duration: 0s;
  }
  28.56% {
    transform: translateY(-100px);
    transition-duration: 0s;
  }
  42.8% {
    transform: translateY(-150px);
  }
  57.12% {
    transform: translateY(-200px);
  }
  71.4% {
    transform: translateY(-250px);
  }
  85.6% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(-350px);
  }
}

#assets div {
  transition-duration: 0s;
  animation-name: myFrame;
  animation-duration: 28s;
  animation-iteration-count: infinite;
}
#assets span {
  display: block;
  height: 50px;
}
#orizondesc {
  width: 45%;
  font-size: 1.4rem;
  position: absolute;
  top: 750px;
  font-weight: normal;
  font-family: "Be Vietnam Pro";
  border-left: 3px solid blue;
  padding-left: 50px;
  margin-left: 10%;
  color: rgb(7, 7, 65);
}
/*body div:hover {
  transform: rotateX(15deg) scale(1.05);
  transition: 1s; trust
}*/
#services {
  width: 74%;
  position: absolute;
  top: 950px;
  left: 12%;
  display: flex;
  flex-wrap: wrap;
}
#services > div {
  margin-bottom: 100px;
}
#box1 {
  width: 100%;
  height: 50px;
}
#box2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./images/backgroundlaptop.png");
}

.featured {
  color: black;
  font-size: 1.3rem;
  width: 220px;
  margin-left: 75%;
  border-right: 3px solid blue;
}
.box2left {
  width: 450px;
  height: 500px;
  display: inline-block;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.content1box2 {
  width: 50%;
  height: 20%;
  margin-top: 100px;
}
.content1box2 img {
  width: 100%;
}
.content2box2 {
  width: 100%;
  height: 20%;
  font-size: 1.5rem;
  color: white;
}

.content3box2 {
  width: 80%;
  margin-top: 50px;
  height: 30px;
  display: flex;
  justify-content: left;
}
.content3box2 > button {
  height: 100%;
  background-color: #494068;
  border: none;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  color: white;
}
.box2right {
  width: 45%;
  height: 500px;
  display: inline-block;
  min-width: 300px;
}
.box2right #laptop1 {
  width: 580px;
  display: block;
  margin-top: 100px;
  margin-left: -150px;
}

.box2right #tablette1 {
  width: 130px;
  display: block;
  margin-top: -335px;
  margin-left: -40px;
}
/*::::::::::::::::::::::::::::::::::third block::::::::::::::::::::::::::*/
#mindfullnessTab {
  width: 530px;
  display: block;
  margin-top: 40px;
  margin-left: -30px;
}
#box3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(116, 116, 41);
}
#box3 .box2right {
  overflow: hidden;
}
#box3 button {
  background-color: #78ce9e;
  opacity: 0.4;
}

/* ////////////////////////////////// fourth box////////////----*/
#box4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  background-image: url("./images/talentbg.png");
}

#box4 .box2right > img {
  display: block;
  width: 550px;
  margin-left: -140px;
  margin-top: 100px;
}

/* /* /////////////////////////////// box 5 ////////////////////////////////////////// */
#box5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./images/talentbg.png");
  overflow: hidden;
}

#box5 .box2right > img {
  display: block;
  margin-left: -250px;
  width: 700px;
}
#box6 {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .contact-us2 */
#box6 .contact-us2 {
  background-color: blue;
  width: 180px;
  height: 54px;
  font-size: 1rem;
  margin-right: 20px;
  border: 3px solid blue;
  text-decoration: none;
}
#box6 .contact-us2 span {
  display: block;
  color: white;
  font-weight: bolder;
  margin-left: 35px;
  margin-top: 20px;
}
.viewall {
  background-color: white;
  text-decoration: none;
  width: 230px;
  height: 60px;
  border-collapse: collapse;
  border: 1px solid rgb(228, 207, 207);
}
.viewall #v {
  display: inline-block;
  color: blue;
  font-weight: bold;
  width: 50%;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 22px;
  margin-left: 35px;
  background-color: white;
}

#fleche2 {
  margin-top: -10px;
  display: inline-block;
  font-size: 30px;
  height: 100%;
}
#bottom {
  position: absolute;
  top: 3800px;
  width: 90%;
  left: 5%;
}
.trust {
  font-size: 4rem;
  width: 600px;
  font-family: "Be Vietnam Pro";
  margin-left: 100px;
  font-weight: bold;
}
#bottom > div {
  margin-top: 150px;
}
.trust2 {
  font-size: 1.5rem;
  font-family: "Be Vietnam Pro";
  width: 750px;
  line-height: 1.1ren;
  color: rgb(13, 19, 49);
  border-left: 4px solid blue;
  margin-left: 100px;
}
#logos {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
#logos > div {
  height: 100%;
  width: 22%;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid rgb(177, 177, 192);
}
#logos img {
  width: 120px;
  height: 60px;
  display: block;
  margin-bottom: 50px;
  margin: auto;
}

@keyframes first {
  0% {
    transform: translateY(0px);
  }
  38% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-55px);
  }
  67% {
    transform: translateY(-55px);
  }
  70% {
    transform: translateY(-120px);
  }
  97% {
    transform: translateY(-120px);
  }
  99.9999% {
    transform: none;
    animation: none;
    transform: translateY(0px);
  }
}
#logo1 {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: first;
}
@keyframes second {
  0% {
    transform: translateY(0px);
  }
  29% {
    transform: translateY(0px);
  }
  29.1% {
  }
  30% {
    transform: translateY(-55px);
  }
  74% {
    transform: translateY(-55px);
  }
  74.1% {
  }
  75% {
    transform: translateY(-120px);
  }
  95% {
    transform: translateY(-120px);
  }
  9.9999% {
    transform: none;
    transform: translateY(0px);
  }
}
#logo2 {
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-name: second;
}

@keyframes third {
  0% {
    transform: translateY(0px);
  }
  24% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-55px);
  }
  59% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-120px);
  }
  99.999999% {
    transform: translateY(-120px);
  }
}
#logo3 {
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-name: third;
}
@keyframes fourth {
  0% {
    transform: translateY(0px);
  }
  32% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(-55px);
  }
  84% {
    transform: translateY(-55px);
  }
  85% {
    transform: translateY(-120px);
  }
  99.9999% {
    transform: translateY(-120px);
  }
}
#logo4 {
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-name: fourth;
}
.plus {
  text-align: center;
}
.logo2 {
  margin-left: 45%;
}
.logo2 #im1 {
  width: 100px;
}
.logo2 #im2 {
  margin-bottom: 40px;
}

.contact-us3 {
  display: inline-block;
  margin-left: 100px;
  width: 25%;
}
.contact-us3 a {
  text-decoration: none;
  background-color: blue;
  display: block;
  height: 60px;
  width: 170px;
  color: white;
  font-size: 0.9rem;
  font-weight: bolder;
}
.contact-us3 a > span {
  display: inline-block;
  width: 140px;
  margin-top: 20px;
  margin-left: 35px;
}
.contact-us3 p {
  font-size: 4rem;
  margin-top: 0px;
  font-weight: bold;
}
.competences {
  display: inline-block;
  width: 50%;
  font-weight: bold;
  margin-left: 15%;
}
.competences div {
  display: inline-block;
  text-align: center;
  color: #494068;
  width: fit-content;
  font-size: 1rem;
  word-spacing: 5px;
  margin: 12px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(193, 174, 211);
}
.bloccomp {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}
.competences div p {
  margin: 10px;
}
/*/////////////////////////////////////white/bloc5/////////////////////////////////*/
#bloc5 {
  position: absolute;
  top: 5900px;
  width: 99%;
  margin: auto;
  background-color: rgb(19, 19, 73);
}
#why {
  color: white;
  font-size: 4.5rem;
  margin-top: 200px;
}
#why p {
  margin-left: 200px;
}
#why span {
  color: blueviolet;
}
#pics {
  margin: auto;
  width: 75%;
}
#pics img {
  width: 100%;
}
#diapo {
  width: 99.9%;
  overflow: hidden;
  margin-top: 150px;
}
/* @keyframes slideanim {
  0% {
    margin-left: 0px;
  }
  19% {
    margin-left: 0px;
  }
  20% {
    margin-left: -700px;
  }
  39% {
    margin-left: -700px;
  }
  40% {
    margin-left: -1400px;
  }
  59% {
    margin-left: -1400px;
  }
  60% {
    margin-left: -2100px;
  }
  79% {
    margin-left: -2100px;
  }
  80% {
    margin-left: -2800px;
  }
  89% {
    margin-left: -2800px;
  }
  95% {
    animation-play-state: unset;
  }
} */
#myslide {
  display: flex;
  flex-wrap: nowrap;
  height: 350px;
  width: 4900px;
  margin-left: 0px;
  /* animation-iteration-count: infinite;
  animation-name: slideanim;
  animation-duration: 25s;
  animation-iteration-count: 4; */
}
#myslide > div {
  display: inline-block;
  height: 100%;
  width: 550px;
  margin-left: 150px;
  color: white;
}
.title {
  display: inline-block;
  margin-left: 30px;
  font-size: 2rem;
  width: 300px;
  font-weight: bold;
}
.dev {
  font-size: 1.4rem;
}

#commands button {
  display: inline-block;
  border: none;
  height: 100%;
  color: white;
  width: 50px;
  margin-right: 0px;
  background-color: blue;
  font-size: 2em;
}
#btcontent {
  display: inline-block;
  margin-left: 150px;
}
#btnslide3 {
  display: flex;
  width: 100px;
  height: 50px;

  justify-content: space-around;
  justify-items: center;
  background-color: blue;
}
#btnslide3 img {
  height: 15px;
  margin-top: 15px;
  width: 10px;
}
#commands {
  width: 100%;
  height: 40px;
  margin-bottom: 100px;
}

#slidebtn {
  height: 100%;
  display: inline-block;
  margin-left: 32%;
}
#slidebtn div {
  display: inline-block;
  width: 20px;
  height: 5px;
  background-color: blue;
}
#whitepart {
  width: 100%;
  background-color: white;
  /* height: 1000px; */
}
#revew {
  width: 50%;
  margin-left: 150px;
  font-size: 4rem;
  height: 400px;
  display: flex;
}
#revew p {
  margin-top: 150px;
}
#revew span {
  color: blue;
}

/***********-----/////////////////////view///////////////////////////////////////////////////////*/
.slframe4 {
  height: 450px;
  width: 80%;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}
#flexslide {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-left: 20px;
}
.sl4 {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  min-height: 400px;
}
/* image part of slide --------------------------------------*/
.sl4 .slleft {
  height: 100%;
  width: 335px;
  min-width: 335px;
  display: inline-block;
}
.sl4 .slleft img {
  width: 100%;
  height: 100%;
}
/* right side of slide-----------------------------------------*/
.sl4 .slrigth {
  display: inline-block;
  height: 100%;
  /* width: 100%; */
  min-width: 450px;
  margin-left: 10%;
  font-size: 1.3rem;
  font-family: "Be Vietnam Pro";
}

.sl4 .slrigth p > img {
  width: 35px;
}
.sl4 .slrigth .pcontent {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: #11f332; */
}

.sl4 .slrigth .slbtn {
  height: 20%;
  display: flex;
}
div {
  font-family: "Be Vietnam Pro";
}
.sl4 .slrigth .slbtn .picdesc {
  display: inline-block;
  height: 100%;
  width: 400px;
}
.sl4 .slrigth .Mybtton {
  display: inline-block;
  height: 50px;
  margin-left: 100px;
  min-width: 100px;
  margin-top: 30px;

  background-color: blue;
}
.btframe {
  display: flex;
  justify-content: space-around;
}
.sl4 .slrigth .Mybtton img {
  width: 10px;
  display: inline-block;
  margin-top: 15px;
}
.rule {
  font-size: 1.1rem;
  color: rgb(34, 29, 63);
}
.enterprise {
  font-weight: bolder;
  font-size: 1.1rem;
  color: rgb(34, 29, 63);
}
#sl4commands {
  display: flex;
  height: 100px;
}
#bloc1command {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 200px;
  height: 100px;
  margin-left: 215px;
}
#bloc1command > div {
  display: inline-block;
  width: 20px;
  height: 4px;
  background-color: blue;
  margin-top: -35px;
  z-index: 1000;
}
#sl4commands #btcontent {
  margin-left: 680px;
  margin-top: -60px;
  z-index: 1000;
}
#lasttext {
  background-color: white;
  width: 100%;

  text-align: center;
  margin-top: -50px;
}
#pone {
  padding-top: 300px;
  font-weight: bolder;
  font-size: 1.7rem;
  margin-bottom: 0px;
}
#ptwo {
  margin-top: 0px;
  font-size: 3.5rem;
  font-weight: bolder;
  color: blue;
}
#pthree {
  width: 800px;
  font-size: 1.4rem;
  margin: auto;
  color: #111;
}
#lasttext > a {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  width: 200px;
  height: 60px;
  color: rgb(255, 255, 255);
  background-color: blue;
  margin: auto;
  text-transform: uppercase;
  margin-top: 100px;
  font-weight: bold;
}
#lasttext a span {
  margin-top: 20px;
}
#myfooter {
  width: 80%;
  height: 420px;
  margin-top: 300px;
  margin: auto;
  margin-bottom: -100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#footerleft {
  margin-top: 200px;
  display: inline-block;
  width: 500px;
}
#footerright {
  display: inline-block;
  margin-top: 200px;
}
#footermenu {
  display: flex;
  flex-wrap: nowrap;
  width: 500px;
  justify-content: space-between;
  justify-items: center;
}
#footermenu a {
  text-decoration: none;
  display: inline-block;
}
#footerleft img {
  width: 150px;
}
#footerimg {
  width: 150px;
}
#footicons {
  width: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
#footicons a {
  display: inline-block;
  width: 25px;
}
/*////////////////////////// mouse////////////ASSETS//////////// customising */
.circle {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  /* border: 3px solid; */
  width: 7px;
  height: 7px;
  left: 20px;
  background-color: blue;
  right: 0;
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  pointer-events: none;
}
