body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#icon-id,
#home-link {
  float: left;
  margin-left: 5%;
  margin-top: 20px;
  text-decoration: none;
  width: 140px;
  display: flex;
  justify-content: space-between;
}
img {
  transform: scale();
  transition: 1.5s;
}
#siteName {
  display: inline-block;
  margin: auto 0px;
  font-size: 1.5rem;
}

.container {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
/* /////////////////////////////////////////////////////////////menu ivon css  */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: blue;
  margin: 6px 0;
  transition: 0.4s;
}
.bar2 {
  opacity: 0;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-7px, 11px);
  transform: rotate(-45deg) translate(-7px, 11px);
}
.change2 .bar1 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
  background-color: white;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/*position and ------------------------------------------ menu container properties*/
.container {
  background-color: white;
  position: fixed;
  left: 90%;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(4px, 0px);
  transform: rotate(45deg) translate(4px, 0px);
}
.change2 .bar3 {
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
  background-color: white;
}
/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 40px;
  right: 0;
  text-align: center;
  background-color: rgb(27, 7, 7); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll opoacity */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
/* The sidepanel links hide */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  margin: 35px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
#chatlink {
  width: 250px;
  height: 75px;
  display: flex;

  justify-content: space-between;
  background-color: rgb(92, 43, 43);
  margin: auto;
  font-size: 1.5rem;
}
#letsgo {
  width: 70%;
  height: 100%;
  margin: 0px;
  display: inline-block;
  background-color: white;
}
#letsgo span {
  display: inline-block;
  margin-top: 25px;
  color: rgb(32, 7, 7);
}
#go {
  margin: 0px;
  width: 29%;
  display: inline-block;
  height: 100%;
  background-color: white;
}
#fleche {
  display: inline-block;
  margin-top: 8px;
}
/* /////////////////////////////////////////////////////////////contact us  */
#contact-us {
  background-color: blue;
  position: absolute;
  right: 12%;
  top: 40px;
  width: 120px;
  height: 40px;
  padding: auto;
  font-size: 1.5rem;
  text-align: center;
}
#contact-us a {
  color: white;
  text-decoration: none;
}

.social {
  display: flex;
  justify-content: space-around;
}

.social a {
  display: inline-block;
  margin: auto;
  margin-top: 30px;
}
#banner {
  position: absolute;
  left: 40%;
  width: 60%;
  top: 100px;
}
#banner img {
  width: 100%;
}
#hide {
  position: absolute;
  width: 0%;
  height: 5000px;
  z-index: 1000;
  background-color: black;
  opacity: 0.2;
}

#oursevices {
  text-align: left;
  font-size: 4rem;
  position: absolute;
  left: 10%;
  width: 45%;
  top: 240px;
  font-weight: bolder;
}

#assets {
  position: absolute;
  width: 22%;
  height: 25px;
  overflow: hidden;
  left: 10%;
  top: 150px;
  color: black;
  z-index: 0;
}
@keyframes myFrame {
  0% {
    transform: translateY(0px);
    transition-duration: 0s;
  }
  14.28% {
    transform: translateY(-50px);
    transition-duration: 0s;
  }
  28.56% {
    transform: translateY(-100px);
    transition-duration: 0s;
  }
  42.8% {
    transform: translateY(-150px);
  }
  57.12% {
    transform: translateY(-200px);
  }
  71.4% {
    transform: translateY(-250px);
  }
  85.6% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(-350px);
  }
}

#assets div {
  transition-duration: 0s;
  animation-name: myFrame;
  animation-duration: 28s;
  animation-iteration-count: infinite;
}
#assets span {
  display: block;
  height: 50px;
}
#orizondesc {
  width: 45%;
  font-size: 1.6rem;
  position: absolute;
  top: 650px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 3px solid blue;
  padding-left: 50px;
  margin-left: 10%;
  color: rgb(7, 7, 65);
}
body div:hover {
  transform: rotateX(15deg) scale(1.05);
  transition: 1s;
}
#services {
  width: 74%;
  position: absolute;
  top: 950px;
  left: 12%;
  display: flex;
  flex-wrap: wrap;
}
#services > div {
  margin-bottom: 100px;
}
#box1 {
  width: 100%;
  height: 50px;
}
#box2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./images/backgroundlaptop.png");
}

.featured {
  color: black;
  font-size: 1.3rem;
  width: 220px;
  margin-left: 75%;
}
.box2left {
  width: 450px;
  height: 500px;
  display: inline-block;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.content1box2 {
  width: 50%;
  height: 20%;
  margin-top: 100px;
}
.content1box2 img {
  width: 100%;
}
.content2box2 {
  width: 100%;
  height: 20%;
  font-size: 1.5rem;
  color: white;
}

.content3box2 {
  width: 80%;
  margin-top: 50px;
  height: 30px;
  display: flex;
  justify-content: left;
}
.content3box2 > button {
  height: 100%;
  background-color: #494068;
  border: none;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 15px;
  color: white;
}
.box2right {
  width: 45%;
  height: 500px;
  display: inline-block;
  min-width: 300px;
}
.box2right #laptop1 {
  width: 580px;
  display: block;
  margin-top: 100px;
  margin-left: -150px;
}

.box2right #tablette1 {
  width: 130px;
  display: block;
  margin-top: -335px;
  margin-left: -40px;
}
/*::::::::::::::::::::::::::::::::::third block::::::::::::::::::::::::::*/
#mindfullnessTab {
  width: 530px;
  display: block;
  margin-top: 40px;
  margin-left: -30px;
}
#box3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(116, 116, 41);
}
#box3 .box2right {
  overflow: hidden;
}
#box3 button {
  background-color: #78ce9e;
  opacity: 0.4;
}

/* ////////////////////////////////// fourth box////////////----*/
#box4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  background-image: url("./images/talentbg.png");
}

#box4 .box2right > img {
  display: block;
  width: 550px;
  margin-left: -140px;
  margin-top: 100px;
}

/* /* /////////////////////////////// box 5 ////////////////////////////////////////// */
#box5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url("./images/talentbg.png");
  overflow: hidden;
}

#box5 .box2right > img {
  display: block;
  margin-left: -250px;
  width: 700px;
}
